body{
	
	background-color: mediumseagreen;
	background-image: url("back (2).jpeg");
	
}


#loginf{
background-color: white;
background-position: center;
right:40%;
top: 25%;
width: 400px;
height: 300px;
border: 1px solid gray;
position: absolute;
opacity: 0.90;
 border-radius: 50px 50px 50px 50px;

}
#signupLink{
	color: grey;
	text-align: left;
}
#button{
width: 100px;
height: 25px;	
}

#loginData{
left:40%;
top: 25%;
}

#tableDiv{
	background-color: white;
	color: white;
	width: 1300px;
	left: 8%;
	top:100%;
	opacity: 0.90;
	position: relative;
	
background-position: center;
}
h3{
	color: black;
}
th{
	color:black;
}
tr{
	color:black;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#ADD{
	font-size: 300;
}